body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /*center*/
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    width: fit-content;
}
input[type="file"] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    color: #2E073F;
}

button {
    background-color: #7A1CAC;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #AD49E1;
    }

.feedback {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    color: #333;
    text-align: center;
    width: 50%;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 14px;
    text-align: left;
    white-space: nowrap;
    color: #2E073F;
}

th {
    background-color: #f2f2f2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    font-size: 16px;
    color: #7A1CAC;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

p {
    text-align: center;
    color: #777;
}
